.fullwidthheight {
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

button {
	pointer-events: auto;
	margin: 0 0.25em 0 0.25em;
	padding: 0 0.25em 0 0.25em;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	min-width: 5em;
}
/*
	border-radius: 3px;
*/

button.disabled {
	pointer-events: none;
}

button:focus {
	outline:0;
}

button:before {
	position: absolute;
	content: "";
	width: 200%;
	height: 200%;
	background-image: linear-gradient(135deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 80%);
	top: -200%;
	left: -200%;
}

button:hover:before {
	transition: all 0.5s ease-out;
	top: 100%;
	left: 100%;
}

button.disabled:before {
	display: none;
}

input {
	width:100%;
	border-style: none;
}

.dialog {
	position: relative;
}

.dialog .backgroundwrapper {
	position: absolute;
	padding: 0.75em;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.dialog .background {
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 4px #080820;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

.heading {
	font-weight: bold;
}

.dialog .heading {
	text-align: center;
}

.dialog .text {
	text-align: center;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
/*
==========================================
	COLOUR SCHEMES
==========================================
*/
html {
	background: linear-gradient(0deg, #808080, #787993);
	background-attachment: fixed;
}

.foreground, .disabled {
	background: #c0c0c0;
	border-color: #404040;
}

.input {
	background: #A8C8E8;
	border-color: #486888;
}
.input:hover {
	background: #C0E0FF;
}
.input:focus {
	background: #90B0D0;
}
.input:active {
	background: #7898B8;
}

.call {
	background: #98D8B8;
	border-color: #387858;
}
.call:hover {
	background: #B0F0D0;
}
.call:focus {
	background: #80C0A0;
}
.call:active {
	background: #68A888;
}

.destructive {
	background: #C888A8;
	border-color: #682848;
}
.destructive:hover {
	background: #E0A0C0;
}
.destructive:focus {
	background: #B07090;
}
.destructive:active {
	background: #985878;
}

.wash {
	background-color: rgba(8, 8, 32, 0.75);
}